<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>Lit 5117 Session 10 site</title>
  </head>
  <link rel="stylesheet" href="/static/style.css">
  <body>
    <h2>Authors:</h2>
    <ul>
        <li>Christopher Liu</li>
        <li>Tony Tony Chopper</li>
    </ul>
    <img id="tony" src="https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F002%2F449%2F700%2F8c5.jpg" alt="Tony Tony Chopper" style="display:none;">
    <button onClick="chopper()">
      <div>The One Piece??</div>
    </button>
    <h3>Join the Straw Hat Pirates!</h3>
    <input type="text" id="name">
    <button onClick="join()">
      <div id="newMember">Join</div>
    </button>
    <h4>Crew members:</h4>
    <ul id="crew"></ul><br><br>

    <button onClick="getQuiz()">
      <div id="toQuiz">Join</div>
    </button>
  </body>
  <script src="static/onepiece.js"></script>
</html>